// ---------------------------- //
// ------- COLORS ------------- //
// ---------------------------- // 
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400|Roboto+Slab:300,700');
$primWhite: #F7F5FA;
$secWhite: #fafafa;
// $black: #31393C;
$black: #000;
$grey: #6D6A75;

$css: #CD669A;
$php: #6082BB;
$js: #F3D732;
$vue: #41B883;

$bloop: cubic-bezier(0.62, 0.61, 0.36, 1);
